<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Safari Notification</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="../javascripts/main.js"></script>
</head>
<body>
<div class="main">
    <div class="main-content">
        <div class="txt-center logo"><img src="../img/logo.png"></div>
        <h1 class="txt-center content-title">广发证券</h1>
        <h3 class="txt-center description">用于在mac或ios下设置桌面通知</h3>
        <p class="txt-center creat-time">2016-08-12 11:48:06</p>
    </div>
</div>
</body>
</html>