html, body, div, h1, h2, h3, p, img, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    height: 100%;
}

body {
    background: url("../img/bg.jpg") no-repeat top center;
    background-size: 100% 100%;
    overflow: hidden;
}

.main {
    width: 45%;
    margin: 0 auto;
    height: 100%;
    position: relative;
    padding: 10px 4%;
}

.main-content {
    margin-top: 20px;
}

.main-content .formWrap {
    margin-top: 20px;
}

.main-content h2 {
    font-size: 1.5em;
    margin: 40px 10px 20px 0;
    padding-left: 9px;
    border-left: 6px solid #ff7e79;
    color: #fff;
}
.content-title {
    font-weight: 400;
    color: #ffc600;
    overflow: hidden;
}

ul li {
    color: #fff;
    margin: 0 auto;
    word-break: break-all;
    list-style-type: none;
}

ul li span {
    display: inline-block;
    width: 80px;
    height: 40px;
    text-align: right;
    padding-right: 10px;
}

ul li input {
    width: 150px;
    height: 20px;
}

#submitBtn {
    color: #ffffff;
    background-color: #0088cc;
    border: 0;
    border-radius: 5px;
    float: right;
    margin: 10px 40% 0 0;
    padding: 8px 12px;
}

.description {
    color: #fff;
    margin: 0 auto;
    word-break: break-all;
    font-size: 18px;
    padding-bottom: 68px;
}